In [1]:
import pandas as pd
import fileinput
import json

In [2]:
world_game = pd.DataFrame()
with fileinput.input(files="game_worldfootball.jl") as file:
    for line in file:
        conv = json.loads(line)
        world_game = world_game.append(conv, ignore_index=True)
world_game.head()

      season round        home_team                away_team score
0  2009/2010     3       Arsenal FC            Portsmouth FC   4:1
1  2009/2010     3  Birmingham City               Stoke City   0:0
2  2009/2010     3        Hull City         Bolton Wanderers   1:0
3  2009/2010     3  Manchester City  Wolverhampton Wanderers   1:0
4  2009/2010     3   Sunderland AFC         Blackburn Rovers   2:1

In [3]:
world_game = world_game.drop_duplicates()

In [4]:
def f(x):
    return str(x.season) + str(int(x["round"]) + 100)
world_game["time"] = world_game.apply(lambda x : f(x), axis = 1)

In [5]:
time_list = sorted(list(world_game["time"].drop_duplicates()))

In [6]:
time2idx = dict()
for idx, time in enumerate(time_list):
    time2idx[time] = idx

In [7]:
world_game["timestamp"] = world_game['time'].apply(lambda x : time2idx[x])

In [8]:
world_game

,season,round,home_team,away_team,score,time,timestamp
0,2009/2010,3,Arsenal FC,Portsmouth FC,4:1,2009/2010103,2
1,2009/2010,3,Birmingham City,Stoke City,0:0,2009/2010103,2
2,2009/2010,3,Hull City,Bolton Wanderers,1:0,2009/2010103,2
3,2009/2010,3,Manchester City,Wolverhampton Wanderers,1:0,2009/2010103,2
4,2009/2010,3,Sunderland AFC,Blackburn Rovers,2:1,2009/2010103,2
...,...,...,...,...,...,...,...
4990,2021/2022,35,Aston Villa,Norwich City,-:-,2021/2022135,488
4996,2021/2022,36,Burnley FC,Aston Villa,-:-,2021/2022136,489
5005,2021/2022,32,Arsenal FC,Brighton & Hove Albion,-:-,2021/2022132,485
5006,2021/2022,33,Aston Villa,Liverpool FC,-:-,2021/2022133,486
5039,2021/2022,37,Aston Villa,Crystal Palace,-:-,2021/2022137,490

In [9]:
world_game = world_game.sort_values(by = "timestamp")[["timestamp", "home_team", "away_team", "score", "season", "round"]]

In [10]:
world_game.to_csv("TKG_input_data.csv")